<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="/js/bundle.js"></script>
</head>
<body>
    <div class="container">
        <div class="grid">
            <div class="grid__column grid__column--masthead">
                {% markdown %}{{ sidebarText }}{% endmarkdown %}
            </div>
            {% include "project-grid.html" %}
            {% include "project-list.html" %}    
        </div>
        <div class="modal js-modal">
            <div class="modal-content">
             <div class="modal-slider js-modal-slider">
             
             </div>
             <div class="modal-caption">
                 <p><span class="modal-caption__title js-modal-title"></span><span class="modal-caption__text js-modal-text"></span></p>
             </div>
            </div>
        </div>
    </main>
</body>
</html>