<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {% markdown %}{{ sidebarText }}{% endmarkdown %}
    {% for column in categoryList %}
        <div class="column">
            <h2>{{ column.fields.title }}</h2>
            {% for project in column.fields.projectList %}
               {% if project.fields.title %}<h3>{{ project.fields.title }}</h3>{% endif %}
               {% if project.fields.shortTitle %}<p>{{ project.fields.shortTitle }}</p>{% endif %}
               {% if project.fields.thumbnail %}
                    {% include "media.html" %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>