{% for column in categoryList %}
    <div class="grid__column">
        <h2 class="grid__column__hed">{{ column.fields.title }}</h2>
        {% for project in column.fields.projectList %}
            <div class="project">
                {% include "thumbnail.html" %}
                {% if project.fields.title %}<h3 class="project__hed">{{ project.fields.title }}</h3>{% endif %}
                {% if project.fields.shortDescription %}<p class="project__dek">{{ project.fields.shortDescription }}</p>{% endif %}
            </div>
        {% endfor %}
    </div>
{% endfor %}