<div class="grid__column grid__column--project-list">
    
    {% for project in projectList %}
        <div class="project">
            {% if project.fields.slides %}
                <div class="slider">
                    {% for slide in project.fields.slides %}
                        {% if slide.fields.file %}
                            <div class="slide">
                                <img data-flickity-lazyload="{{ slide.fields.file.url }}" alt="">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if project.fields.title %}<h3>{{ project.fields.title }}</h3>{% endif %}
            {% if project.fields.shortDescription %}<p>{{ project.fields.shortDescription }}</p>{% endif %}
        </div>
    {% endfor %}
</div>