<div class="grid__column grid__column--project-list">
    {% for project in projectList %}
        <div class="project project--list">
            {% if project.fields.slides %}
                <div class="slider js-mobile-slider">
                    {% for slide in project.fields.slides %}
                        {% if slide.fields.file %}
                            <div class="slider__slide">
                                {% if slide.fields.file.contentType === "video/mp4" %}
                                    <video class="slider__image" src="{{ slide.fields.file.url }}" autoplay loop muted>
                                {% else %}
                                    <img class="slider__image" data-flickity-lazyload="{{ slide.fields.file.url }}?fm=jpg&w=750&q=75" alt="">
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% include "project-details.html" %}
        </div>
    {% endfor %}
</div>