<div class="grid__column grid__column--project-list">
    {% for project in projectList %}
        <div class="project project--list">
            {% if project.fields.slides %}
                <div class="slider">
                    {% for slide in project.fields.slides %}
                        {% if slide.fields.file %}
                            <div class="slide">
                                <img data-flickity-lazyload="{{ slide.fields.file.url }}?fm=jpg&w=750&q=75" alt="">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% include "project-details.html" %}
        </div>
    {% endfor %}
</div>